#info .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.amount {
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.students {
    color: #FFF;
    font-family: 'Alegreya';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#info .wrapper {
    position: relative;
}

#info .bg-element-2 {
    position: absolute;
    left: 0;
    top: 0;
}

/* mobile media query */

@media (max-width: 720px) {
    #info .content-container {
        flex-direction: column;
        gap: 80px;
    }
    #info .content-container img {
        height: 100px;

    }
    .amount
    {
        font-size: 32px;
    }
    .students{
        font-size: 24px;
    }
    #info .bg-element-2 {
        left: 32px;
    }
}